.table-container{
    padding: 0 10%;
    margin: 40px auto 0;
}

.table{
    width:100%;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
}
.table-footer{
    width:100%;
    border-top: 2px solid var(--color-primary-dark);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1em;
}
thead{
    color:var(--color-pearl);
    background-color: var(--color-primary);
    border-bottom:2px solid var(--color-primary-dark);
}

th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    text-align: left;
    opacity: 1;
    padding:12px;
    vertical-align: top;
    border:1px solid var(--theme);
}
td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    padding:8px;
    text-align: left;
    text-indent: 0.5em;
    border-bottom:1px solid var(--theme);
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }
  /*
  td:nth-child(even), th:nth-child(even) {
    background-color: #D6EEEE;
  }
  */
.table tbody tr td .btn{
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display:block;
    background-color: var(--theme);
    font-weight: medium;
    text-align: center;
    user-select: none;
    border:1px solid transparent;
    font-size:14px;
    opacity:1;
}

.table input[type=text] {
width: 100%;
margin: 0;
outline-color:transparent;
border:none;
border-bottom: 2px solid transparent;
background: var(--bordertheme);
background-color: var(--texttheme);
color:var(--bordertheme);

}
.table input[type=text]:focus {
border:none;
border-bottom: 2px solid var(--bordertheme);
outline: transparent;
}
.pointer{
    cursor: pointer;
}

@media(max-width: 768px){
    .table thead{
        display:none;
    }
    .table, 
    .table tbody, 
    .table tr, 
    .table td{
        display: block;
        width:100%;
    }
    .table tr{
        margin-bottom: 15px;
        border-bottom: 2px solid var(--color-primary-dark);
    }
    .table tbody tr td{
        text-align: right;
        position:relative;
    }
    .table td:before{
        content:attr(data-label);
        position: absolute;
        left:0;
        width:50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        
    }
}
.avatar{
 
    width:50%; 
    height:100%;  
    object-fit: cover;
    border-radius: var(--radius);
   }
