/*SOCIAL NETWORKS GALLERY*/
.iconsContainer{
    text-align: center;
    margin-left:0 auto;
    width: 100%;
}
.iconsContainer-dflex{
    display:flex;
    gap:20%;
    justify-content: center;
    margin: 5% 10%auto;
    padding:6px 3px ;
}
.iconsContainer-dgrid{
    display:grid;
    float:right;
    grid-template-columns: auto;
    padding:12px 18px;
}

.aref{
    font-size:2em;
    transition: transform .2s;
}
.aref:hover{
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@media screen and (max-width: 768px){
    .aref{
        font-size:1.25em;
    }
}
.network{
    color:var(--color-pearl); 
}
.network-wine{
    color:var(--color-danger); 
}
.network-whatsapp{
    color:var(--color-success);
    
}
.network-facebook{
    color:var(--color-primary);
}