@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&family=Lobster&family=Nunito+Sans:wght@700;900&family=Open+Sans:wght@300&family=Redressed&family=Roboto:ital,wght@0,400;0,500;1,700&family=Smooch&display=swap');
.start-container{
    display:flex;
    height:144px;
    width:100%;
    flex-direction: row;
   justify-content: space-evenly;
    border-bottom:2px solid var(--color-dark) ;
    background-image: url('./anthem.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arc-text{
    font-family: 'Lobster', cursive;
    -webkit-text-fill-color: var(--color-primary); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-pearl);
}

.logo{
    max-width:100%;
    height:100%;
}
.img-wrapper{
    width:3in;
    margin-left: 70px;
}
.wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100%;
   
  }

  .banner-list  {
    list-style: square;
    color:var(--color-pearl);
    width:280px;
  }
  .banner-list li {
    margin-left: 10%;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    color:var(--color-pearl);
    text-align:left;
    font-weight: bolder;
  }
  ::marker{
    color:var(--color-pearl);
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0 !important;
    text-align: start !important;
    text-align-last: start !important;
  }
  .wideScreen{
    position:fixed;
    height:100vh;
    width:80%;
    margin:10% auto;
    background: var(--color-pearl);
  
  }
  @media (max-width:768px) {
    .start-container{
        flex-direction:column;
        height:50vh;
    }
    .banner-list{
        display:none;
    }
    
  }
  .btn-banner{
    width:200px;
    height:60px;
    background: linear-gradient(rgba(252, 252, 252, 0.5),rgba(40,44,52,0.1));
    border:4px solid;
    color:var(--deepcolor);
    font-weight: 700;
    text-transform: uppercase;
    cursor:pointer;
    font-size: 16px;
    position:relative;
    border-radius: 30px;
}
.btn-banner::before, .btn-banner::after{
content: "";
position:absolute;
width:14px;
height:4px; 
background:rgba(253, 253, 253, 0.8);
transform:skewX(50deg);
transition:.4s linear;
}
.btn-banner::before{
    top: -4px;
    left:10%;
}
.btn-banner::after{
    bottom: -4px;
    right:10%;
}
.btn-banner:hover::before{
    left:80%;
}
.btn-banner:hover::after{
    right:80%;
}
.btn-banner:hover{
    color:var(--color-gray);
}
.curly{
  display:flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background: url('./curly.png');
  height: 96px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
 

}
.curly h1{
  position:absolute;
 top:192px;
 left:150px;
  -webkit-text-fill-color: var(--color-pearl); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-gray);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-shadow: 2px 0 4px  var(--color-dark);
}
.sub-title{
  padding:12px 12px 24px;
  text-align: right;
  -webkit-text-fill-color: var(--color-primary); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-pearl);
}
@media (max-width:768px) {
  .curly{

    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .curly h1{
    display:none;
  }
  
}