.fixed-wpp{
    position: fixed; /* Position them relative to the browser window */
    bottom:6px;
    left:-12px;
    padding: 12px; /* 15px padding */
    text-decoration: none; /* Remove underline */
    cursor:pointer;
    border:2px solid transparent;
    border-radius: 50%;
    z-index: 9999;
  }
  .overlay{
    position:fixed;
    width:180px;
    text-align: center;
    font-weight: bolder;
    background-color: var(--color-gray);
    color:var(--color-pearl);
    z-index: 99;
  }
  .icon-wpp{
    font-size: 72px;
    color:green;
    width:196px;
    text-align: right;
  }